<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Who am i | Login page</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="all,follow">
<!-- Bootstrap CSS-->
<link rel="stylesheet" href="./statics/bootstrap.min.css">
<!-- Google fonts - Vidaloka-->
<!-- <link rel="stylesheet" href="./statics/css"> -->
<!-- Bootstrap Select-->
<link rel="stylesheet" href="./statics/bootstrap-select.min.css">
<!-- Owl Carousel-->
<!-- <link rel="stylesheet" href="./statics/owl.carousel.min.css"> -->
<link rel="stylesheet" href="./statics/owl.theme.default.min.css">
<!-- theme stylesheet-->
<link rel="stylesheet" href="./statics/style.default.css"
	id="theme-stylesheet">
<link id="new-stylesheet" rel="stylesheet"
	href="./statics/style.blue.css">
<!-- Fancy Box-->
<!-- <link rel="stylesheet" href="./statics/jquery.fancybox.css"> -->
<!-- Custom stylesheet - for your changes-->
<link rel="stylesheet" href="./statics/custom.css">
<!-- Favicon-->
<link rel="shortcut icon" href="./statics/img/favicon.ico">
<!-- Font Awesome CSS-->
<link rel="stylesheet" href="./statics/font-awesome.min.css">
<!-- Custom Font Icons CSS-->
<link rel="stylesheet" href="./statics/custom-fonticons.css">

</head>
<body class="">
	<header class="header">
		<!-- Top bar-->
		<div class="top-bar">
			<div class="container">
				<div class="content-holder d-flex justify-content-between">
					<div class="info d-flex">
						<div class="contact d-flex">
							<p>
								<a href="mailto:info@company.com"> <i
									class="fa fa-envelope-o text-primary"></i><span
									class="d-none d-md-inline">info@company.com</span></a>
							</p>
							<p>
								<i class="fa fa-phone text-primary"></i><span
									class="d-none d-md-inline">020 123-456-789</span>
							</p>
						</div>
					</div>
					<div class="CTAs">
						<a href="./index.html#" class="login"><i class="fa fa-sign-in"></i><span
							class="d-none d-md-inline">Login</span></a><a href="./index.html#"
							class="login"> <i class="fa fa-user"></i><span
							class="d-none d-md-inline">Register</span></a>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Navbar-->
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<!-- Navbar Brand -->
				<a href="./index.html" class="navbar-brand"><img
					src="./statics/logo.png" alt="..."></a>
				<!-- Toggle Button-->
				<button type="button" data-toggle="collapse"
					data-target="#navbarcollapse" aria-controls="navbarcollapse"
					aria-expanded="false" aria-label="Toggle navigation"
					class="navbar-toggler">
					<span>Menu</span><i class="fa fa-bars"></i>
				</button>
				<!-- Navbar Menu -->
				<div id="navbarcollapse" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<!-- Search-->
						<li class="nav-item"><a href="#/index.html"
							class="nav-link active">Home</a></li>
						<li class="nav-item"><a href="#/category.html"
							class="nav-link">Listings </a></li>
						<li class="nav-item dropdown"><a id="navbarDropdownMenuLink"
							href="http://localhost/" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"
							class="nav-link dropdown-toggle">Pages</a>
							<div aria-labelledby="navbarDropdownMenuLink"
								class="dropdown-menu">
								<a href="#/detail.html" class="dropdown-item">Listing detail</a><a
									href="#/post.html" class="dropdown-item">Blog post</a><a
									href="#/text.html" class="dropdown-item">Text page</a><a
									href="#/404.html" class="dropdown-item">404 - Not found</a><a
									href="#/contact.html" class="dropdown-item">Contact</a>
							</div></li>
						<li class="nav-item"><a href="#/blog.html" class="nav-link">Blog</a>
						</li>
						<li class="nav-item"><a href="#/contact.html"
							class="nav-link">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- Hero Section-->
	<section
		style="background: url('./statics/img/hero-bg.jpg') no-repeat;"
		class="hero d-flex align-items-center">
		<div class="container">
			<p class="small-text-hero">
				<i class="icon-localizer text-primary mr-1"></i>Lorem ipsum <span
					class="text-primary">dolor sit</span> amet
			</p>
			<h1>
				Let's <span class="text-primary">go </span> anywhere
			</h1>
			<p class="text-hero">Lorem ipsum dolor sit amet, consectetur
				adipiscing elit</p>
			<div class="search-bar">
				<form action="#/index.html#">
					<div class="row">
						<div class="form-group col-lg-4">
							<input type="search" name="usrname" placeholder="User name">
						</div>
						<div class="form-group col-lg-3">
							<input type="password" name="pwd" placeholder="Password" id="pwd"> <label for="pwd" class="location">
							</label>
						</div>
						<div class="form-group col-lg-3">
							<div class="btn-group bootstrap-select listing-categories">
								<select
									title="Categories &lt;i class=&quot;fa fa-angle-down&quot;&gt;&lt;/i&gt;"
									class="listing-categories" tabindex="-98">
									<option class="bs-title-option" value="">Login account type <i class="fa fa-angle-down"></i></option>
									<option value="small">Member</option>
									<option value="medium">Google account</option>
									<option value="large">Facebook</option>
									<option value="x-large">Zalo</option>
								</select>
							</div>
						</div>
						<div class="form-group col-lg-2">
							<input type="submit" value="Search" class="submit">
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

	<!-- Page Footer-->
	<footer class="main-footer">
		<div class="copyrights text-center">
			<p>
				© 2017 - 2019 <span class="text-primary">Places.</span> All Rights
				Reserved.
			</p>
		</div>
	</footer>
	<!-- JavaScript files-->
	<script src="./statics/jquery.min.js"></script>
	<script src="./statics/bootstrap.bundle.min.js"></script>
	<script src="./statics/jquery.cookie.js"></script>

	<script src="./statics/owl.carousel.min.js"></script>
	<script src="./statics/bootstrap-select.min.js"></script>
	<script src="./statics/front.js"></script>

</body>
</html>