# compiled output csf
/csf/bin/*
/csf/build/*
/csf/.classpath
/csf/.project

/csf-database/bin/*
/csf-database/build/*
/csf-database/.classpath
/csf-database/.project

/service-center/bin
/service-center/build
/service-center/.classpath
/service-center/.project

/whoami-common/bin
/whoami-common/build
/whoami-common/.classpath
/whoami-common/.project

/whoami-security/bin
/whoami-security/build
/whoami-security/.classpath
/whoami-security/.project